<!DOCTYPE html>
<html lang='en'>
<head>
<title>{{ title }}</title>
<meta charset='utf-8'>
<link rel='stylesheet' href='style.css' type='text/css'>
<meta name='viewport' content='width=device-width'>
</head>
<body>
<table>
  <div class="top">
    <h2>[Elijah Caine]</h2>
    <ul>
      <li>[pop on irc.freenode.net]</li>
      <li>[elijahcainemv@gmail on email]</li>
      <li>[OSU Linux Users Group President]</li>
      <li>[OSU Open Source Lab Developer]</li>
      <li>[Free Software Supporter]</li> 
      <li>[Open Source Contributor]</li>
    </ul>
  </div>
  <div class="row">
    <div class="cell">
      <ul>
        <li><h3>[Code + Work]</h3></li>
        <li><a href="http://osuosl.org">OSU Open Source Lab</a></li>
        <li><a href="http://elijahcaine.me/resume.pdf">Resume</a></li>
        <li><a href="https://github.com/elijahcaine/">Github</a></li>
      </ul>
    </div><div class="cell">
      <ul>
        <li><h3>[Creative]</h3></li>
        <li><a href="http://blog.elijahcaine.me/">Blog</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLYHIXZQ0zjKRQaHTYpLMXobtpkKV-YvrX">Videos</a></li>
        <li><a href="http://elijahcaine.me/reading/">Book Club</a></li>
        <li><a href="http://imgur.com/a/TMMgV">3D Renders</a></li>
      </ul>
    </div><div class="cell">
      <ul>
        <li><h3>[Outreach]</h3></li>
        <li><a href="http://lug.oregonstate.edu">Linux Users Group</a></li>
        <li><a href="http://devopsbootcamp.osuosl.org">DevOps BootCamp</a></li>
        <li><a href="http://slides.elijahcaine.me/">Slides</a></li>
      </ul>
    </div><div class="cell news-cell">
      <h3 class='news'>[News]</h3>
      {{ content }}
    </div>
  </div>
</table>
</body>
</html>
